@model WebApplication2.Models.Avaliacao

@{
    Layout = null;
}
 <!DOCTYPE html>
<html>
<title>Burguer Brand</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")  
<body>
    <div>
        @RenderBody()
    </div>
</body>
      
<body>
    <div class="w3-top w3-hide-small">
        <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
            <a href="#" class="w3-bar-item w3-button">HOME</a>
            <a href="#menu" class="w3-bar-item w3-button">MENU</a>
            <a href="#about" class="w3-bar-item w3-button">SOBRE NÓS</a>
            <a href="#pedidos" class="w3-bar-item w3-button">PEDIDOS</a>
            <a href="#funcionarios" class="w3-bar-item w3-button">FUNCIONÁRIOS</a>
            <a href="~/Views/AreaCliente/Avaliacao.cshtml" class="w3-bar-item w3-button">AVALIAÇÃO</a>
        </div>
    </div>
</body>
</html>


